<div class="account-page">
  <h1><%= @user.username %>'s Account</h1>

  <h3 class="apps">My Apps:</h3>
  <% if @user.followed_apps.length == 0 %>
    <p>You haven't followed any apps yet. <%= link_to "Get started now!", search_apps_path %> </p>
  <% else %>
    <ul>
      <% @user.followed_apps.each do |app| %>
        <li><%= link_to app.name, app_path(app) %>
      <% end %>
    </ul>
  <% end %>

  <h3 class="doodads">My Doodads:</h3>
  <p>You haven't created any Doodads yet. <%= link_to "Find an app", search_apps_path %> to get started!</p>

  <p>Want to learn a little more about Doodads? <a href="#">Eventual link here</a> to explore.</p>
</div>