<div class="splash">
  <h3>are you ready...</h3>
  <h1>to get your doodad on?!</h1>

  <p>Have you ever wished you could add your great ideas to an app that you use and love? Have you ever found an app that does *almost* everything you want it to, but needs just one more feature, or one more option, to be perfect?</p>

  <h2><em>That's</em> a doodad!</h2>
  
  <ul class="splash">
    <li>Search for and follow apps for updates</li>
    <li>Add your brilliant doodads to apps</li>
    <li>See what other cool doodads people have come up with</li>
  </ul>

  <%= link_to "Sign up now!", new_user_path, class: "onboard" %>

</div>