<% fav_apps = ["tweetbot", "perfect weather", "drafts", "editorial", "tinder", "instapaper", "seamless", "any.do", "evernote", "vesper", "rdio", "day one", "netflix"] %>

<div class="search-form">
<%= form_tag search_apps_path, method: "get", html: {class: "search"} do %>
  <li><%= label_tag :q, "Search the iTunes App Store:" %></li>
  <li><%= text_field_tag :q, nil, placeholder: fav_apps.sample %></li>
  <li><%= submit_tag "Search" %></li>
<% end %>
</div>