<% if @results.nil? %>
<p>No results found. Try your search again.</p>
<% else %>
  <ul>
  <% @results.each do |result| %>
    <% itunes_id = result["trackId"] %>
    <h3><%= name = result["trackName"] %></h3>
    <img src="<%= icon = result["artworkUrl512"] %>" style="max-width: 20%">
    <li><%= category = result["primaryGenreName"] %></li>
    <li><%= prince = result["price"] %></li>
    <br/>
  <% end %>
  </ul>
<% end %>