<h1>@app.name</h1>

 
<!-- 
  @screenshots
  @app.itunes_id = res["trackId"]
  @app.name = res["trackName"]
  @app.itunes_url = res["trackViewUrl"]
  @app.icon_url = res["artworkUrl512"]
  @app.developer = res["artistName"]
  @app.developer_url = res["sellerUrl"]
  @app.price = res["price"]
  @app.description = res["description"]
  @app.current_rating = res["averageUserRatingForCurrentVersion"]
  @app.current_rating_count = res["userRatingCountForCurrentVersion"]
  @app.total_rating = res["averageUserRating"]
  @app.total_rating_count = res["userRatingCount"]
  @app.category = res["primaryGenreName"]
  @app.game_center_enabled = res["isGameCenterEnabled"]
  @app.is_universal = parsed["results"][0]["features"].include?("iosUniversal") if res["features"]
   -->