/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  color: #444;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

header{
  display: inline;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;

}

div.logo, .logo a, .logo a:link .logo a:visited, .logo a:hover, .logo a:active {
  float: left;
  margin-left: 5%;
  margin-top: 1%;
  font-size: 1.2em;
  color: #555;
  text-decoration: none;

}

div.links {
  float: right;
  margin-top: 2%;
  margin-right: 5%;
  white-space: nowrap;

}

div.links li {
  padding-right: 2%;
}

div.logo a:hover {
  text-decoration: underline;
}

div.container {
  padding-top: 10px;
  clear: both;
  margin: 0 auto;
}

div.splash {
  width: 75%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

img.icon {
  max-width: 15%;
  border-radius: 18%;
}

img.screenshot {
  max-width: 15%;
  display: inline;
  /*float: left;*/
}

form.user, form.session {
  list-style-type: none;
}

div.app-info {
  padding-left: 10%;
  width: auto;
  margin: 0 auto;
}

div.recent_search {
  display: inline;
}

div.recent_search ul, img {
  display: inline-block;
  margin-bottom: 3%;
  vertical-align: middle;
}

div.app-result {
  padding-bottom: 20px;
  padding-left: 40px;
}

div.app-result input {
  background: transparent;
  border: 0;
  cursor:pointer;
  margin: 0;
  padding: 0;
  color: #0000ff;
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

div.app-result input:visited {
  color: #505abc;
}

div.app-result input:hover {
  color: #1d60ff;
  text-decoration: none;
}

div.app-result input:active {
  color: #12eb87;
}

h1 {
  font-family: Georgia, serif;
  margin: 0;
  padding: 15px 0 0 0;
}

div.showcase {
  text-align: center;
}
div.showcase img {
  margin-bottom: 0;
}

h2.app-result {
  padding-bottom: .6em;
  margin-bottom: 0px;
  font-size: 1.3em;
}

img.app-result {
  display: inline;
  vertical-align: middle;
}

ul.app-result {
  display: inline-block;
  max-width: 60%;
  vertical-align: middle;
}

ul.app-info {
  list-style-type: none;
  padding: 0;
  font-size: 1.1em;
}

div.showcase input {
  background: #333;
  border: 0;
  cursor:pointer;
  margin: 0;
  padding: .5em 1em;
  color: #eee;
  border-radius: 50% 50% 50% 50%;
  font-family: Georgia, serif;
  font-size: 1.5em;
}

p.description {
  max-width: 80%;
  margin-left: 5%;
}

div.ratings {
  text-align: center;
  padding-bottom: 10px;
}

div.footer-links {
  text-align: center;
}