/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
  background-color: rgba(255,255,255,.8);
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header{
  padding: 1% 0 4.5%;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
}


header ul {
  list-style-type: none;
  display: inline;
}

header li, header li a:visited {
  display: inline;
  color: #468;

}

header li a:hover {
  color: #d56;
}

a {
  color: rgba(118,142,196,.9);
  text-decoration: none;
}

a:visited {
  color: #468;
}

a:hover {
  color: #d56;
}

div.logo, .logo a, .logo a:link .logo a:visited, .logo a:hover, .logo a:active {
  float: left;
  font-family: 'Architects Daughter', Helvetica, sans-serif;
  margin-left: 5%;
  margin-top: .5%;
  margin-bottom: .5%;
  font-size: 1.4em;
  color: #444;
  text-decoration: none;
  font-weight: bold;
}

div.links {
  float: right;
  margin-top: 1%;
  margin-right: 5%;
  white-space: nowrap;

}

div.links li {
  padding-right: 2%;
}

div.logo a:hover {
  text-decoration: underline;
}

div.container {
  padding-top: 3%;
  clear: both;
  margin: 0 auto;
}

div.splash {
  width: 75%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

div.splash h1 {
  padding-top: 2%;
}

div.splash h3 {
  margin-bottom: 0;
}

div.splash p {
  max-width: 60%;
  margin: 0 auto;
}

div.splash span {
  width: 2%;
}

div.splash a.onboard {
  position: relative;
  top: 45px;
  font-size: 2em;
  color: rgba(255,255,255,.9);
  background-color: rgba(118,142,196,.8);
  padding: 2% 3%;
  border: 1px solid #ccc;
  border-radius: 20px;
}

div.splash a.onboard:hover{
  color: rgba(221,85,102,.9);
  background-color: rgba(118,142,196,.4);
}

ul.splash {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

img.icon {
  max-width: 15%;
  border-radius: 18%;
  border: solid 1px #ddd;
}

img.screenshot {
  max-width: 15%;
  display: inline;
}

form.user, form.session {
  list-style-type: none;
}

div.app-info {
  padding-left: 10%;
  width: auto;
  margin: 0 auto;
}

div.search-form {
  text-align: center;
  list-style-type: none;
  font-size: 1.5em;
}

div.search-form input {
  background-color: rgba(127,188,220,.4);
  padding: 10px;
  font-size: .8em;
  margin: 10px 0;
  border: 1px solid rgba(68,102,136,.4);
  color: #444;
}

::-webkit-input-placeholder{
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

div.search-form input[type=submit] {
  color: #333;
  border: 0;
  padding: 10px;
  font-size: .7em;
  cursor: pointer;
  border-radius: 10%;
}

div.search-form input[type=submit]:hover {
  background-color: rgba(68,102,136,.6);
  color: #fff;
}

div.recent_search {
  display: inline;
}

div.recent_search ul, img {
  display: inline-block;
  margin-bottom: 3%;
  vertical-align: middle;
}

div.app-result {
  padding-bottom: 20px;
  padding-left: 40px;
}

div.app-result ul {
  list-style-type: circle;
}

div.app-result input {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: rgba(68,102,136,1);
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  max-width: 70%;

}

div.app-result input:visited {
  color: rgba(68,102,136,1);
}

div.app-result input:hover {
  color: #c45;
}

div.app-result input:active {
  color: #12eb87;
}

div.apps-index p.link {
  font-size: 1.3em;
  text-align: center;
  margin-top: 0;
}

div.apps-index a.search-link {
  padding: 1% 2% 1% 3.5%;
  background-color: #ddd;
  border-radius: 35px;
}

.see-doodads {
  font-size: 1.3em;
}

.magnifying-glass {
  position: relative;
  left: 3%;
  width: 1.75%;
  margin: 0;
  padding: 0;
  padding-bottom: .5%;
}

h1 {
  font-family: 'Arvo', sans-serif;
  margin: 0;
  padding: 3% 0 2% 0;
}

h1.create {
  padding-top: 0;
  padding-left: 15%;
}

div.account-page {
  padding-left: 15%;
}

form.user {
  padding-left: 15%;
}

h2 {
  font-family: 'Arvo', sans-serif;
}

h3 {
  font-family: 'Arvo', sans-serif;
  font-size: 1.5em;
}

div.whats-hot {
  padding-left: 15%;
}

div.search-results {
  padding-left: 15%;
}

div.app-doodads {
  padding-left: 15%;
}

div.showcase {
  text-align: center;
}
div.showcase img {
  margin-bottom: 0;
}

h2.app-result {
  padding-bottom: .6em;
  margin-bottom: 0px;
  font-size: 1.3em;
}

img.app-result {
  display: inline;
  vertical-align: middle;
}

ul.app-result {
  display: inline-block;
  max-width: 60%;
  vertical-align: middle;
}

ul.app-info {
  list-style-type: none;
  padding: 0;
  font-size: 1.1em;
}

div.showcase input {
  background: #333;
  border: 0;
  cursor:pointer;
  margin: .5em 0;
  padding: .5em 1em;
  color: #eee;
  border-radius: 50px;
  font-family: 'Arvo', serif;
  font-size: 1.5em;
}

div.new-doodad {
  padding-left: 15%;
  list-style-type: none;
}

.new-doodad h3 {
  margin-bottom: 0;
}

.app-doodads h1 {
  padding: 0;
}

.app-doodads h3 {
  margin: 1% 0;
}

.session {
  padding-left: 15%;
}

.session input {
  color: #333;
  border: 1px solid #777;
  padding: 10px;
  font-size: 1em;
  cursor: normal;
}

.session input[type=submit]:hover {
  color: white;
  cursor: pointer;
}

.new_doodad input {
  color: #333;
  border: 1px solid #777;
  padding: 10px;
  font-size: 1em;
  cursor: normal;
}

.new_doodad input[type=submit]:hover {
  color: #fff;
  cursor: pointer;
}

.user input {
  color: #333;
  border: 1px solid #777;
  padding: 10px;
  font-size: 1em;
  cursor: normal;
}

.user input[type=submit]:hover {
  color: #fff;
  cursor: pointer;
}

form.app-button {
  display: inline;
}

div.app-buttons {
  display: inline;
}

p.description {
  max-width: 80%;
  margin-left: 5%;
  margin-top: 0;
}

div.ratings {
  text-align: center;
  padding-bottom: 10px;
}

div.footer-links {
  text-align: center;
  color: rgba(118,142,196,.9)
}

ul.doodad-details {
  max-width: 70%;
}

.tooltip {
  border-bottom: 1px dotted #000;
  color: #000; 
  outline: none;
  cursor: help; 
  text-decoration: none;
  position: relative;
  font-size: .8em;
}

.tooltip span {
  margin-left: -999em;
  position: absolute;
}

.tooltip:hover span {
  font-size: 1em;
  border-radius: 5px 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  color: #fff;
  z-index: 99;
  margin-left: 0;
  width: 500px;
} 

.tooltipbackground {
  padding: 0.8em 1em; 
  background: rgb(127,188,220); 
  border: 1px solid #999;
}