/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

img.icon {
  max-width: 15%;
  border-radius: 18%;
}

img.screenshot {
  max-width: 15%;
  display: inline;
  /*float: left;*/
}

div.show-app {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

div.app-result {
  padding-bottom: 20px;
  padding-left: 40px;
}

div.app-result input {
  background: transparent;
  border: 0;
  cursor:pointer;
  margin: 0;
  padding: 0;
  color: #0000ff;
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

div.app-result input:visited {
  color: #505abc;
}

div.app-result input:hover {
  color: #1d60ff;
  text-decoration: none;
}

div.app-result input:active {
  color: #12eb87;
}

h1 {
  font-family: Georgia, serif;
  margin: 0;
  padding: 15px, 0, 0, 0;
}

h2.app-result {
  padding-bottom: .6em;
  margin-bottom: 0px;
  font-size: 1.3em;
}

img.app-result {
  display: inline;
  vertical-align: middle;
}

ul.app-result {
  display: inline-block;
  max-width: 60%;
  vertical-align: middle;
}

/*div.app-info {
  display: inline;
  margin: 0 auto;
}*/

ul.app-info {
  display: inline-block;
  max-width: 60%;
  margin: 0 auto;
}

div.footer-links {
  text-align: center;
}